# Dependencies
node_modules/

# Build outputs
dist/
build/
.angular/
out-tsc/

# Nx specific (Caching and workspace data)
.nx/cache/
.nx/workspace-data/

# Environment variables (Crucial for backend security)
.env
.env.*
!.env.example

# Logs and system files
npm-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
